
*{ Display a post in one of these modes: 'ville' or 'monument' }*
<div class="container marketing">
 #{if _as == 'monument'}
	 <script type="text/javascript">
	    $(document).ready(function(){
	    	initialize(${_monument.lat_mon},${_monument.long_mon});
	    });
	 </script>
	<div class="monuments">
		<div style="margin-top:80px">
	   <div style="float:right;width:600px">
		   <h2 class="monument-nom">
	             ${_monument.nom_mon}
	       </h2>
		   <h2 class="monument-ville">
	            <a href=@{Application.showVille(_monument.ville.id)}> ${_monument.ville.nom_ville}</a>
	       </h2>
	       <div class="historique">
	       		${_monument.histo_mon.escape().nl2br()}
	   		</div>
	   </div>
	   </div>
	   <div class="monument-image" style="margin:20px" >
	   		<img src=${_monument.img_path_mon}>
	   </div>
	   
	   <div id="carte"></div>
	</div>
 #{/if}
  #{elseif _as == 'ville'}
	 <script type="text/javascript">
	    $(document).ready(function(){
	    	initialize(${_ville.lat_ville},${_ville.long_ville});
	    	/*$("#ville-form").children().eq(0).submit(function(){
	    		var choice = $("#ville-select option:selected").val();
	    		alert(choice);
	    		
	    	}*/
	    });
	 </script>
 	<br />
 	<br />
 	<br />
	<div class="ville">
	   
	<div style="float:right; style="padding-right:100px">   
	   <h2 class="ville-nom">
             ${_ville.nom_ville}
       </h2>
	   <div class="historique">
	       ${_ville.histo_ville.escape().nl2br()}
	   </div>
	   <div id="ville-form">
	 	#{form @Application.showMonument()}
		 	<select name="id">
			 	#{list items:_ville.monuments, as:'monument'}
			 		<option value = ${monument.id}>${monument.nom_mon}</option>
				#{/list}
			</select>
			<input type="submit" value="Valider">
	 	#{/form}
	 </div>
	   </div>
	   <div class="ville-image">
	   		<img src=${_ville.img_path_ville}>
	   </div>	
	</div>
	 
	 <div style="float:right">
	 
	 </div>
	 <div id="carte"></div> 
 #{/elseif}
 <hr class="featurette-divider" style="margin-top:400px">
