#{extends 'main.html' /}
#{set title:'Accueil' /}
   <!-- START THE FEATURETTES -->
<div class="container marketing">
   <hr class="featurette-divider">

   <div class="featurette">
     <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png">
     <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
     <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
   </div>

   <hr class="featurette-divider">

   <div class="featurette">
     <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png">
     <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
     <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
   </div>

   <hr class="featurette-divider">

   <div class="featurette">
     <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png">
     <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
     <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
   </div>

   <hr class="featurette-divider">

   <!-- /END THE FEATURETTES -->




 <!-- Le javascript
 ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
 <!-- 
 <script src="../assets/js/bootstrap-transition.js"></script>
 <script src="../assets/js/bootstrap-alert.js"></script>
 <script src="../assets/js/bootstrap-modal.js"></script>
 <script src="../assets/js/bootstrap-dropdown.js"></script>
 <script src="../assets/js/bootstrap-scrollspy.js"></script>
 <script src="../assets/js/bootstrap-tab.js"></script>
 <script src="../assets/js/bootstrap-tooltip.js"></script>
 <script src="../assets/js/bootstrap-popover.js"></script>
 <script src="../assets/js/bootstrap-button.js"></script>
 <script src="../assets/js/bootstrap-collapse.js"></script>
 <script src="../assets/js/bootstrap-carousel.js"></script>
 <script src="../assets/js/bootstrap-typeahead.js"></script>
  -->
 <script>
   !function ($) {
     $(function(){
       // carousel demo
       $('#myCarousel').carousel()
     })
   }(window.jQuery)
 </script>