#{extends 'main.html' /}
#{set title:'Accueil' /}
   <!-- START THE FEATURETTES -->
<div class="container marketing">
   <hr class="featurette-divider">

   <div class="featurette">
     <img class="featurette-image pull-right" src="public/images/common/sans-culotte.jpg">
     <h2 class="featurette-heading">Laissez moi vous pr&eacute;senter notre team. <span class="muted">Les sans culottes</span></h2>
     <p class="lead">Pour nous, le respect de la nuit de l'info passe par le nom de notre Team, en rapport avec le patrimoine fran&ccedil;ais.<br />Qui sommes nous ? Une bande de geek (4) qui aiment les nouvelles technos, les nouveaux frameworks cool et haute productivit&eacute;, les archis dans le cloud, etc<br />Attendez vous &agrave; une appli r&eacute;volutionnaire !</p>
   </div>
	
	
	<h2 class="featurette-heading" style="margin-top:100px"><span class="muted">Les membres</span></h2>
	<br />
	<div class="row">
     <div class="span5">
       <img class="img-circle" src="public/images/common/baptiste.jpg" style="height:140px;width:140px">
       <h2>Baptiste</h2>
       <p>Le gros geek du groupe. Il aime le code source, le beau code source qui compile. Arrivant souvent en retard, il n'h&eacute;site pas &agrave; rejeter la faute sur quelqu'un d'autre : "ma couette ma prise en otage, j'ai du n&eacute;gocier avec elle pour qu'elle me laisse partir". Mais on l'aime bien quand m&ecirc;me.</p>
     </div><!-- /.span4 -->
     <div class="span5">
       <img class="img-circle" src="public/images/common/flo.jpg" style="height:140px;width:140px">
       <h2>Florian</h2>
       <p>Le Boss du groupe. Grand fan d'Apple, il n'h&eacute;site pas &agrave; le faire savoir. Un vrai tyran &agrave; tout moment, le seul barbu durant cette nuit de l'info, nous avons tout de m&ecirc;me tenu t&ecirc;te contre sa tyrannie, mais sans succ&egrave;s. D'ailleurs, on a sacrifi&eacute; des des animaux pour l'apaiser, en vain...</p>
     </div><!-- /.span4 -->
     <div class="span5">
       <img class="img-circle" src="public/images/common/momo.jpg" style="height:140px;width:140px">
       <h2>Mohamed</h2>
       <p>L'esclave du groupe. On l'a exploit&eacute; jusqu'&agrave; la moelle, mais il heureusement il a surv&eacute;cu. Affubl&eacute; de plusieurs surnom provenant de la s&eacute;rie Dragon Ball, il reste tr&egrave;s souvent calme. Lui, c'est la "force tranquille", ne pas le sous-estimer.</p>
     </div><!-- /.span4 -->
     <div class="span5">
       <img class="img-circle" src="public/images/common/benj.jpg" style="height:140px;width:140px">
       <h2>Benjamin</h2>
       <p>Le mec un peu bizarre (comme tout le monde en fait, mais en un peu plus) du groupe. Il aime le chocolat et les avocats, mais pas les kiwis (le fruit, pas l'oiseau). C'est un grand adorateur des jeux vid&eacute;os, et en particulier d'un plombier moustachu italien. Et s'il participe, c'est pour gagner !</p>
     </div><!-- /.span4 -->
   </div><!-- /.row -->

   

   <!-- /END THE FEATURETTES -->




 <!-- Le javascript
 ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
 <!-- 
 <script src="../assets/js/bootstrap-transition.js"></script>
 <script src="../assets/js/bootstrap-alert.js"></script>
 <script src="../assets/js/bootstrap-modal.js"></script>
 <script src="../assets/js/bootstrap-dropdown.js"></script>
 <script src="../assets/js/bootstrap-scrollspy.js"></script>
 <script src="../assets/js/bootstrap-tab.js"></script>
 <script src="../assets/js/bootstrap-tooltip.js"></script>
 <script src="../assets/js/bootstrap-popover.js"></script>
 <script src="../assets/js/bootstrap-button.js"></script>
 <script src="../assets/js/bootstrap-collapse.js"></script>
 <script src="../assets/js/bootstrap-carousel.js"></script>
 <script src="../assets/js/bootstrap-typeahead.js"></script>
  -->
 <script>
   !function ($) {
     $(function(){
       // carousel demo
       $('#myCarousel').carousel()
     })
   }(window.jQuery)
 </script>